article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  font: 100.01%/1.375 Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 22px;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
h1 {
  font-size: 2.375em;
  line-height: 1.1578947368421;
  font-weight: normal;
}
h1 ~ h2,
h1 ~ h3,
h1 ~ h4,
h1 ~ h5,
h1 ~ h6 {
  margin-top: 44px;
}
h2 {
  font-size: 1.875em;
  line-height: 1.4666666666667;
  font-weight: normal;
}
h3 {
  font-size: 1.375em;
  font-weight: normal;
}
h4 {
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: normal;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
}
p {
  margin-top: 0;
  margin-bottom: 22px;
}
small,
.small,
.smaller {
  font-size: 0.875em;
}
blockquote {
  border-left: 2px solid #ccc;
  padding-left: 1em;
  margin-left: 0;
  margin-bottom: 22px;
}
strong,
b {
  font-weight: bold;
}
mark {
  color: #333;
  background-color: #eee;
}
em,
i,
dfn {
  font-style: italic;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  margin-bottom: 1.375em;
  white-space: pre;
}
pre,
code,
kbd,
samp,
.code {
  font: 1em/1.375 ;
}
div.code {
  white-space: pre;
}
div.code,
pre code {
  display: block;
  overflow: auto;
}
div.code,
pre code,
.geshi {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 20px;
  background-color: #eee;
  padding-left: 0.5em;
}
ul,
ol {
  margin: 0 0 22px 0;
  padding-left: 1.5em;
}
ul p,
ol p {
  margin-top: 11px;
  margin-bottom: 11px;
}
li ul,
li ol,
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0;
}
ul {
  margin-left: -8px;
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.375em 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
dl.dl-horizontal {
  *zoom: 1;
}
dl.dl-horizontal:before,
dl.dl-horizontal:after {
  content: "";
  display: table;
}
dl.dl-horizontal:after {
  clear: both;
}
dl.dl-horizontal dt {
  clear: left;
  float: left;
  width: 5em;
}
dl.dl-horizontal dd {
  margin-left: 6em;
  display: block;
}
.table {
  margin-bottom: 22px;
  width: 100%;
}
.table  caption {
  text-align: left;
  font-style: italic;
}
.table  thead {
  border-bottom: 2px solid #333;
}
.table  th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
.table  th,
.table  td {
  padding: 5px 10px 5px 5px;
}
td.right {
  text-align: right;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr.even td {
  background-color: #f6f6f6;
}
.table  tbody tr {
  border-bottom: 1px solid #ddd;
}
.table  tbody tr:hover {
  color: #222;
  border-color: #aaa;
}
.table  tfoot {
  font-style: italic;
}
figure {
  margin-bottom: 22px;
}
figure a {
  *zoom: 1;
}
figure a:before,
figure a:after {
  content: "";
  display: table;
}
figure a:after {
  clear: both;
}
figure img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
figure figcaption {
  font-style: italic;
  padding-top: 1em;
}
figure.left {
  float: left;
  margin-right: 1em;
}
figure.right {
  float: right;
  margin-left: 1em;
}
figure.center {
  clear: both;
}
figure.center img {
  margin: 0 auto;
}
figure.center figcaption {
  text-align: center;
}
hr {
  color: #ccc;
  border-color: #ccc;
  margin: 22px auto;
}
h1,
h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 21px;
}
.ucp h1,
.ucp h2 {
  border-bottom: 0;
  margin-bottom: 22px;
}
.footer {
  color: #444;
}
a {
  color: #33b;
  text-decoration: underline;
}
a:visited {
  color: #838;
}
a:hover {
  color: #33f;
  text-decoration: none;
}
.footer a {
  color: #448;
  text-decoration: underline;
}
.footer a:visited {
  color: inherit;
}
.footer a:hover {
  color: inherit;
  text-decoration: none;
}
ul.breadcrumb {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.breadcrumb li {
  padding: 0;
  margin: 0;
  display: inline;
}
ul.breadcrumb a {
  font-size: 0.875em;
  text-decoration: none;
  color: #333;
}
ul.breadcrumb a:hover {
  text-decoration: underline;
  color: #00c;
}
ul.nb-plain {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.nb-plain li {
  padding: 0 1em 0 0;
  margin: 0;
  display: inline;
}
ul.nb-plain li:last-child {
  padding-right: 0;
}
ul.nb-plain li.selected a,
ul.nb-plain li.current-menu-item a,
ul.nb-plain li.current_page_parent a {
  color: #33b;
  text-decoration: underline;
}
ul.nb-plain a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}
ul.nb-plain a:hover {
  color: #33f;
  text-decoration: underline;
}
ul.nb-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.nb-icons li {
  padding: 0 1em 0 0;
  margin: 0;
  display: inline;
}
ul.nb-icons li:last-child {
  padding-right: 0;
}
ul.nb-anna {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.nb-anna li {
  padding: 0 1em 0 0;
  margin: 0;
  display: inline;
}
ul.nb-anna li:last-child {
  padding-right: 0;
}
ul.nb-anna li.selected a,
ul.nb-anna li.current-menu-item a {
  border-top: 1px solid #33b;
  border-bottom: 1px solid #33b;
  color: #33b;
}
ul.nb-anna a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  padding: 0.1em 0;
}
ul.nb-anna a:hover {
  color: #33f;
  border-top: 1px solid #33f;
  border-bottom: 1px solid #33f;
}
ul.nb-tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
ul.nb-tab li {
  padding: 0;
  margin: 0 0.3em;
  display: inline-block;
  background-color: #e6e6ff;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.nb-tab li:first-child {
  margin-left: 0.5em;
}
ul.nb-tab li:last-child {
  margin-right: 0;
}
ul.nb-tab li:hover {
  background-color: #ccccff;
  border-color: #777;
}
ul.nb-tab li.selected,
ul.nb-tab li.current-menu-item {
  background-color: #fff;
  border-color: #999;
}
ul.nb-tab li.selected a,
ul.nb-tab li.current-menu-item a {
  color: #333;
  padding-bottom: 2px;
  background-color: #fff;
}
ul.nb-tab a {
  text-decoration: none;
  color: #666;
  padding: 0 1em;
}
ul.nb-tab a:hover {
  color: #33f;
}
ul.nb-tab a:active {
  color: #838;
  background-color: #e6e6ff;
}
ul.nb-dbwebb {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.nb-dbwebb li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
ul.nb-dbwebb li:last-child {
  padding-right: 0;
}
ul.nb-dbwebb ul {
  margin: 0 3em 0 0;
  padding: 0;
  float: left;
}
ul.nb-dbwebb ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: list-item;
}
ul.nb-dbwebb ul li:hover,
ul.nb-dbwebb ul li:focus,
ul.nb-dbwebb ul li.selected {
  list-style-type: square;
}
ul.nb-dbwebb ul li.selected a {
  color: #000;
}
ul.nb-dbwebb a {
  font-family: Times, 'Times New Roman', serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: #444;
}
ul.nb-dbwebb a:hover {
  color: #222;
  text-decoration: underline;
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
}
#inner-wrap-header {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 88px;
}
#inner-wrap-header:before,
#inner-wrap-header:after {
  content: "";
  display: table;
}
#inner-wrap-header:after {
  clear: both;
}
#header {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
  margin-top: 11px;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
#login-menu {
  float: right;
  font-size: 0.875em;
}
#login-menu a {
  color: #333;
  text-decoration: none;
}
#login-menu a:hover {
  color: #00c;
  text-decoration: underline;
}
#login-menu img.gravatar {
  vertical-align: middle;
}
#inner-wrap-navbar {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-navbar:before,
#inner-wrap-navbar:after {
  content: "";
  display: table;
}
#inner-wrap-navbar:after {
  clear: both;
}
#navbar {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#ucp-navbar {
  margin-bottom: 22px;
}
#inner-wrap-header-below {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  height: 22px;
}
#inner-wrap-header-below:before,
#inner-wrap-header-below:after {
  content: "";
  display: table;
}
#inner-wrap-header-below:after {
  clear: both;
}
#header-below {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
  margin-bottom: 22px;
}
#inner-wrap-flash {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  margin-bottom: 22px;
}
#inner-wrap-flash:before,
#inner-wrap-flash:after {
  content: "";
  display: table;
}
#inner-wrap-flash:after {
  clear: both;
}
#flash {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
}
#inner-wrap-featured {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  margin-bottom: 44px;
}
#inner-wrap-featured:before,
#inner-wrap-featured:after {
  content: "";
  display: table;
}
#inner-wrap-featured:after {
  clear: both;
}
#featured-first,
#featured-middle,
#featured-last {
  display: inline;
  float: left;
  width: 310px;
  margin: 0 5px;
  height: 100%;
}
#outer-wrap-main {
  margin-top: 22px;
}
#inner-wrap-main {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  margin-bottom: 66px;
}
#inner-wrap-main:before,
#inner-wrap-main:after {
  content: "";
  display: table;
}
#inner-wrap-main:after {
  clear: both;
}
#primary {
  display: inline;
  float: left;
  width: 630px;
  margin: 0 5px;
}
#primary.full-width {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
}
#custom {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
}
#sidebar-right,
#sidebar-left {
  display: inline;
  float: left;
  width: 270px;
  margin: 0 5px;
  margin-left: 45px;
}
.sidebar .box {
  margin-bottom: 44px;
}
#inner-wrap-triptych {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  margin-bottom: 44px;
}
#inner-wrap-triptych:before,
#inner-wrap-triptych:after {
  content: "";
  display: table;
}
#inner-wrap-triptych:after {
  clear: both;
}
#triptych-first,
#triptych-middle,
#triptych-last {
  display: inline;
  float: left;
  width: 310px;
  margin: 0 5px;
  height: 100%;
}
#inner-wrap-footer-column {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-footer-column:before,
#inner-wrap-footer-column:after {
  content: "";
  display: table;
}
#inner-wrap-footer-column:after {
  clear: both;
}
.footer-column-wrapper {
  margin-bottom: 22px;
}
.footer-column {
  display: inline;
  float: left;
  width: 230px;
  margin: 0 5px;
}
#inner-wrap-footer {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
#inner-wrap-footer:before,
#inner-wrap-footer:after {
  content: "";
  display: table;
}
#inner-wrap-footer:after {
  clear: both;
}
#footer {
  display: inline;
  float: left;
  width: 950px;
  margin: 0 5px;
  padding-top: 11px;
}
input,
textarea {
  font: inherit;
}
input[readonly] {
  color: #666;
}
label {
  font-size: smaller;
}
.validation-failed {
  border: 2px solid red;
}
.validation-message {
  color: red;
  font-size: smaller;
}
.form-action-link {
  font-size: smaller;
}
textarea {
  width: 100%;
  height: 8em;
}
textarea.nowrap {
  white-space: nowrap;
}
.content-edit input[type=text] {
  width: 30em;
}
.content-edit textarea {
  width: 40em;
  height: 15em;
}
.geshi {
  overflow: scroll;
}
.javascript.geshi .de1,
.javascript.geshi .de2 {
  font: normal normal 1em/1.2em monospace;
  margin: 0;
  padding: 0;
  background: none;
  vertical-align: top;
}
.javascript.geshi {
  font-family: monospace;
}
.javascript.geshi .imp {
  font-weight: bold;
  color: red;
}
.javascript.geshi li,
.javascript.geshi .li1 {
  font-weight: normal;
  vertical-align: top;
}
.javascript.geshi .ln {
  width: 1px;
  text-align: right;
  margin: 0;
  padding: 0 2px;
  vertical-align: top;
}
.javascript.geshi .li2 {
  font-weight: bold;
  vertical-align: top;
}
.javascript.geshi .kw1 {
  color: #000066;
  font-weight: bold;
}
.javascript.geshi .kw2 {
  color: #003366;
  font-weight: bold;
}
.javascript.geshi .kw3 {
  color: #000066;
}
.javascript.geshi .co1 {
  color: #006600;
  font-style: italic;
}
.javascript.geshi .co2 {
  color: #009966;
  font-style: italic;
}
.javascript.geshi .coMULTI {
  color: #006600;
  font-style: italic;
}
.javascript.geshi .es0 {
  color: #000099;
  font-weight: bold;
}
.javascript.geshi .br0 {
  color: #009900;
}
.javascript.geshi .sy0 {
  color: #339933;
}
.javascript.geshi .st0 {
  color: #3366CC;
}
.javascript.geshi .nu0 {
  color: #CC0000;
}
.javascript.geshi .me1 {
  color: #660066;
}
.javascript.geshi .ln-xtra,
.javascript.geshi li.ln-xtra,
.javascript.geshi div.ln-xtra {
  background-color: #ffc;
}
.javascript.geshi span.xtra {
  display: block;
}
.wp section {
  margin-top: 44px;
}
.wp section:first-child {
  margin-top: 0;
}
.wp-post-title a {
  color: inherit;
  text-decoration: none;
}
.wp-post-title a:hover {
  color: #33f;
  text-decoration: underline;
}
.wp-meta-more-posts {
  margin-top: 44px;
}
.wp-caption-text {
  font-style: italic;
}
.alignright {
  float: right;
  margin-left: 0.5em;
}
.alignleft {
  float: left;
  margin-right: 0.5em;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post h2 {
  margin-top: 0;
}
.box h4 {
  margin-top: 0;
}
.sep,
.cat-links,
.tag-links,
.edit-link,
.published {
  font-size: smaller;
  color: #999;
  font-style: italic;
}
.sep a,
.cat-links a,
.tag-links a,
.edit-link a,
.published a {
  color: inherit;
  text-decoration: none;
}
.sep a:hover,
.cat-links a:hover,
.tag-links a:hover,
.edit-link a:hover,
.published a:hover {
  color: #666;
  text-decoration: underline;
}
.wp-meta-more-posts {
  margin-bottom: 44px;
}
.category-archive-meta {
  margin-bottom: 44px;
}
#searchform {
  margin-bottom: 44px;
}
.nocomments {
  display: none;
}
#comments #comments-title,
#comments #reply-title {
  border-bottom: 2px solid #222;
}
#comments .comment-author {
  color: #999;
  font-size: smaller;
}
#comments .comment-author a {
  color: #999;
  text-decoration: none;
}
#comments .comment-author a:hover {
  text-decoration: underline;
}
#comments .comment-author img {
  float: right;
}
#comments .reply {
  font-size: smaller;
}
#comments .reply a {
  color: #999;
  text-decoration: none;
}
#comments .reply a:hover {
  text-decoration: underline;
}
#commentform input[type=text] {
  width: 100%;
}
#commentform textarea {
  width: 100%;
}
.form-allowed-tags,
.logged-in-as {
  color: #666;
  font-size: smaller;
}
html.mos-default {
  background-color: ;
}
html.mos-default body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
html.mos-default #banner {
  position: relative;
}
html.mos-default #site-title {
  color: #333;
  font-family: Times, 'Times New Roman', serif;
  font-size: 3em;
  line-height: 1;
  position: absolute;
  top: 22px;
  left: 0;
}
html.mos-default #site-title a {
  color: inherit;
  text-decoration: none;
}
html.mos-default #site-slogan {
  font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
html.mos-default #navbar1 {
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 30px;
}
html.hanouneh {
  background-color: ;
}
html.hanouneh body {
  margin: 0;
  padding: 8px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
html.hanouneh #outer-wrap-all {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
}
html.hanouneh #inner-wrap-all {
  background: transparent url(/img/hav2.jpg) repeat-y center top;
}
html.hanouneh body.blog #inner-wrap-all,
html.hanouneh body.archive #inner-wrap-all,
html.hanouneh body.single #inner-wrap-all,
html.hanouneh body.search #inner-wrap-all {
  background: transparent url(/img/news-top.jpg) no-repeat center top;
}
html.hanouneh #wrap-all {
  background: transparent url(/img/undersida2.jpg) no-repeat center top;
}
html.hanouneh body.blog #wrap-all,
html.hanouneh body.archive #wrap-all,
html.hanouneh body.single #wrap-all,
html.hanouneh body.search #wrap-all {
  background: transparent url(/img/news-top.jpg) no-repeat center top;
}
html.hanouneh body.home.page #wrap-all {
  background: transparent url(/img/startsida2.jpg) no-repeat center top;
}
html.hanouneh h1,
html.hanouneh h2 {
  border-bottom: none;
}
html.hanouneh #inner-wrap-header {
  height: 200px;
}
html.hanouneh #banner {
  position: relative;
}
html.hanouneh #site-logo {
  position: absolute;
  top: 90px;
  left: 520px;
}
html.hanouneh #site-title {
  color: #333;
  font-family: Times, 'Times New Roman', serif;
  font-size: 3em;
  line-height: 1;
  position: absolute;
  top: 22px;
  left: 0;
}
html.hanouneh #site-title a {
  color: inherit;
  text-decoration: none;
}
html.hanouneh #site-slogan {
  font-family: Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
html.hanouneh body.blog #site-logo,
html.hanouneh body.archive #site-logo,
html.hanouneh body.single #site-logo,
html.hanouneh body.search #site-logo {
  display: none;
}
html.hanouneh #news-logo {
  display: none;
}
html.hanouneh body.blog #news-logo,
html.hanouneh body.archive #news-logo,
html.hanouneh body.single #news-logo,
html.hanouneh body.search #news-logo {
  display: block;
  position: absolute;
  top: 270px;
  left: 40px;
}
html.hanouneh #navbar1 {
  position: relative;
  right: 16px;
  top: 20px;
  text-align: right;
}
html.hanouneh ul.nb-plain li {
  padding-right: 32px;
}
html.hanouneh ul.nb-plain li:last-child {
  padding-right: 0;
}
html.hanouneh ul.nb-icons li {
  padding-right: 32px;
}
html.hanouneh ul.nb-icons li:last-child {
  padding-right: 0;
}
html.hanouneh ul.nb-short-dist {
  margin-top: 44px;
  margin-bottom: 22px;
}
html.hanouneh ul.nb-short-dist li {
  padding-right: 12px;
}
html.hanouneh ul.nb-short-dist li:last-child {
  padding-right: 0;
}
html.hanouneh #jplayer-music {
  position: absolute;
  top: 420px;
  left: -500px;
}
html.hanouneh #outer-wrap-main {
  min-height: 713px;
}
html.hanouneh #primary {
  position: relative;
  display: inline;
  float: left;
  width: 430px;
  margin: 0 5px;
  margin-left: 525px;
}
html.hanouneh body.blog #primary,
html.hanouneh body.archive #primary,
html.hanouneh body.single #primary,
html.hanouneh body.search #primary {
  display: inline;
  float: left;
  width: 510px;
  margin: 0 5px;
  margin-left: 45px;
  padding-top: 176px;
}
html.hanouneh body.blog #sidebar-right,
html.hanouneh body.archive #sidebar-right,
html.hanouneh body.single #sidebar-right,
html.hanouneh body.search #sidebar-right {
  display: inline;
  float: left;
  width: 310px;
  margin: 0 5px;
  margin-left: 45px;
}
html.hanouneh body.blog .sidebar,
html.hanouneh body.archive .sidebar,
html.hanouneh body.single .sidebar,
html.hanouneh body.search .sidebar {
  position: relative;
  padding-top: 286px;
}
html.hanouneh body.blog .sidebar-page,
html.hanouneh body.archive .sidebar-page,
html.hanouneh body.single .sidebar-page,
html.hanouneh body.search .sidebar-page {
  position: absolute;
  top: -100px;
}
html.hanouneh #inner-wrap-footer {
  position: relative;
  background: transparent url(/img/hav2.jpg) repeat-y center top;
}
html.hanouneh body.blog #inner-wrap-footer,
html.hanouneh body.archive #inner-wrap-footer,
html.hanouneh body.single #inner-wrap-footer,
html.hanouneh body.search #inner-wrap-footer {
  background: transparent url(/img/news-bottom.jpg) repeat-y center top;
  min-height: 245px;
}
html.hanouneh #footer {
  padding: 1em;
}
html.hanouneh #footer-custom {
  position: relative;
  top: 0;
  left: 20px;
}
html.hanouneh body.blog #footer-custom,
html.hanouneh body.archive #footer-custom,
html.hanouneh body.single #footer-custom,
html.hanouneh body.search #footer-custom {
  position: absolute;
  top: 5px;
  left: 600px;
}
html.hanouneh body.blog #footer-custom ul.nb-icons li,
html.hanouneh body.archive #footer-custom ul.nb-icons li,
html.hanouneh body.single #footer-custom ul.nb-icons li,
html.hanouneh body.search #footer-custom ul.nb-icons li {
  padding-right: 16px;
}
html.hanouneh body.blog #footer-custom ul.nb-icons li:last-child,
html.hanouneh body.archive #footer-custom ul.nb-icons li:last-child,
html.hanouneh body.single #footer-custom ul.nb-icons li:last-child,
html.hanouneh body.search #footer-custom ul.nb-icons li:last-child {
  padding-right: 0;
}
